<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ArimaaAnalyzer.Maui</a>
    </div>
</div>

<input id="nav-toggle" type="checkbox" title="Navigation menu" aria-label="Toggle navigation menu" class="navbar-toggler"/>

<!-- Backdrop to close the menu when clicking outside -->
<div class="backdrop" onclick="document.getElementById('nav-toggle').click()"></div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" onclick="document.getElementById('nav-toggle').checked=false">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter" onclick="document.getElementById('nav-toggle').checked=false">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather" onclick="document.getElementById('nav-toggle').checked=false">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arimaa" onclick="document.getElementById('nav-toggle').checked=false">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Arimaa
            </NavLink>
        </div>
    </nav>
</div>